#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 7.5px;
  border-radius: 30px;
  border: 3px solid black;
  text-align: center;
  background-color: rgb(20, 20, 20);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* FROM HERE ON */


.frontface-div {
  display: flex;
  flex-direction: column;
  height: 670px;
  width: 435px;
  background-color: #006946;
  border-radius: 25px;
}


.button-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 50px;
  margin-bottom: 40px;
}

.input {
  height: 35px;
  width: 285px;
  border-radius: 10px;
  background-color: #f5e2dd;
  margin-right: 3px;
  color: black;
}


.search-button {
  width: 285px;
  height: 40px;
  margin-top: 5px;
}


.world-picture {
  width: 95%;
}


.loading-picture {
  width: 45%;
  margin-bottom: 15px;
}


.loading-text {
  margin-bottom: -1rem;
}


.loading-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.suggestions {
  list-style-type: none;
}



.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-search {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
}



/* RESPONSIVE */
@media (max-width: 490px) {
  .frontface-div {  
    width: 390px;
  }
}

@media (max-width: 440px) {
  .frontface-div {  
    width: 360px;
  }
}

@media (max-width: 390px) {
  .frontface-div {  
    height: 630px;
    width: 330px;
  }
}

@media (max-width: 360px) {
  .frontface-div {  
    height: 630px;
    width: 300px;
  }
}



/* 
  SELECT BUTTON 

  margin-left: 75px;
  width: 99%;


*/