body {
  background-color: green ;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 7.5px;
  border-radius: 30px;
  border: 3px solid black;
  text-align: center;
  background-color: rgb(20, 20, 20);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* FROM HERE ON */


.frontface-div {
  display: flex;
  flex-direction: column;
  height: 670px;
  width: 435px;
  background-color: #006946;
  border-radius: 25px;
}


.button-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 50px;
  margin-bottom: 40px;
}


.select-input {
  margin-left: 77px;
  width: 280px;
}


.search-button {
  width: 285px;
  height: 40px;
  margin-top: 5px;
}


.world-picture {
  width: 95%;
}


.loading-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.suggestions {
  list-style-type: none;
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-search {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* RESPONSIVE */

@media (min-width: 800px) {
    .frontface-div {  
       width: 47rem;
       height: 70rem;
    }


    .title {
      margin-bottom: 6rem;
      font-size: xxx-large;
    }

    .select-input {
      width: 10rem;
      margin-left: 15rem;
    }
    
    .search-button {
      height: 3.5rem;
      width: 25rem;
      margin-top: 1.5rem;
    }

    .world-picture {
      width: 50rem;
      margin-left: -1rem;
    }
}


@media (max-width: 490px) {
  .frontface-div {  
    width: 390px;
  }

  .select-input {
    margin-left: 57px;
  }
}


@media (max-width: 440px) {
  .frontface-div {  
    width: 360px;
  }

  .select-input {
    margin-left: 41px;
  }
}


@media (max-width: 390px) {
  .frontface-div {  
    height: 630px;
    width: 330px;
  }

   .select-input {
    margin-left: 25px; 
  }

}


@media (min-width: 325px) and (max-width: 360px) {
  .frontface-div {  
    height: 630px;
    width: 300px;
  }

  .select-input {
      margin-left: 11px;
  }
}
