
.display-container {
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 435px;
    background-color: #007749;
    border-radius: 30%;
}


.country-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
    width: 91%;
    margin-top: 25px;
    margin-bottom: 10px;
    /* margin-left: 18px; */
    padding-bottom: 10px;
    background-color: #F1AD02;
    border: 4px solid black;
    border-radius: 50px;
}


.rubik-title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 514;
  font-style: normal;
}



.svg {
    height: 200px;
    /* width: 40%; */
    margin-top: 5%;
}


.info-container {
    width: 70%;
    list-style-type: none;
    margin-left: 5%;
    padding-top: 2.5%;
    padding-bottom:2.5%;
    background-color: #F1AD02;
    border: 4px solid black;
    border-radius: 35px;
}


.stats-placement {
    text-align: left;
    margin-left: 25px;
}


.info-italic {
    font-style: italic;
}


.buttons {
    margin-top: 20px;
}


.see-map {
    margin-left: 20px;     
}


.no-coat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 90%;
    margin-top: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #F1AD02;
    border: 4px solid black;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: smaller;  
}

/* RESPONSIVE */

@media (min-width: 800px) {
    .root {
        max-width: 1280px;
        margin: 0 auto;
        padding: 7.5px;
        border-radius: 30px;
        border: 10px solid black;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }


    .display-container {  
       width: 47rem;
       height: 70rem;
    }

    .svg {
        height: 20rem;
        width: 22rem;
        margin-top: 3rem;
    }

    .country-title {
        height: 6rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: 8px solid black;
    }

    .country-font {
        font-size: xxx-large;
        padding-top: 10px;
    }


    .info-container {
        height: 22rem;
        width: 35rem;
        margin-left: 1.1rem;
        margin-bottom: 3rem;
        border: 8px solid black;

    }

    .stats-placement {
        text-align: center;
        font-size: x-large;
    }

    .buttons {
        margin-top: -0.5rem;
        margin-left: 1rem;
    }

    .go-back-btn {
        width: 9rem;
        height: 4rem;
    }

    .see-map {
        width: 9rem;
        height: 4rem;     
    }


    /* NO COAT */

    .no-coat {
        height: 7rem;
        margin-bottom: 2rem;
        border: 8px solid black;
    }

    .info-container-no-coat {
        height: 25rem;
        width: 25rem;
        margin-left: 1.1rem;
        margin-bottom: 3rem;
        align-content: center;
        list-style-type: none;
        border: 8px solid black;
        border-radius: 35px;
        background-color: #F1AD02;
    }


}



@media (max-width: 490px) {
    .display-container {  
        width: 390px;
    }

    .country-font {
        font-size: x-large;
    }
}


@media (max-width: 440px) {
    .display-container {  
        width: 360px;
    }
}


/* REVISE REVISE */
@media (min-width: 361px) and (max-width: 390px) {
    .display-container {  
        height: 630px;
        width: 330px;
    }

    .svg {
        height: 150px;
        margin-top: 7%;
    }

    .info-container {
        width: 80%;
        margin-left: 1.5%;
    }

    .country-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .country-font {
        margin-top: 5px;
        font-size: large;
  }
}


@media (min-width: 325px) and (max-width: 360px) {
    .display-container {  
        height: 670px;
        width: 310px;
    }

    .info-container {
        width: 75%;
        margin-left: 1px;
    }
}


@media (max-width: 324px) {
    .display-container {  
        height: 670px;
        width: 290px;
    }
}


