.map-main-div {
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 435px;
    border-radius: 35%;
    background-color: #0E356D;
}


.bg-map {
    background-color: black;
}


.map-styling {
    height: 95%;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 20px;
    
}


.country-flag {
    background-color: #F1AD02;
    border: 5px solid rgb(174, 130, 130);
    width: 25%;
    border-radius: 60px;
    margin-left: 37%;
    margin-top: 2%;
    padding-bottom: 5px;
}


.backinfo-btn {
    width: 26%;
    margin-top: 10px;
    margin-left: 36.5%;
    margin-bottom: 5%;
}




/* RESPONSIVE */


@media (min-width: 800px) {

    .map-main-div {  
       width: 47rem;
       height: 70rem;
    }


    .country-flag {
        width: 15rem;
        margin-top: 2rem;
        margin-left: 15.8rem;
        margin-bottom: 1rem;
    }


    .backinfo-btn {
        height: 4rem;
        width: 14rem;
        margin-left: 34.5%;
    }
}


@media (max-width: 490px) {

    .map-main-div {  
        width: 390px;
    }


    .backinfo-btn {
        width: 28%;
        margin-left: 35.5%;
    }
}


@media (max-width: 440px) {

    .map-main-div {  
        width: 360px;
    }


    .backinfo-btn {
        width: 30.4%;
        margin-left: 35%;
    }
}


@media (min-width: 361px) and (max-width: 390px) {

    .map-main-div {  
        height: 630px;
        width: 330px;
    }


    .backinfo-btn {
        width: 34%;
        margin-left: 33.5%;
    }
}


@media (min-width: 325px) and (max-width: 360px) {

    .map-main-div {  
        height: 670px;
        width: 310px;
    }


    .backinfo-btn {
        width: 35.5%;
        margin-left: 32.5%;
    }
}


@media (max-width: 325px) {
    
    .map-main-div {  
        height: 670px;
        width: 290px;
    }
}